__pycache__/pygis.cpython-39.pyc
gis_udm/__pycache__/__init__.cpython-39.pyc
gis_udm/__pycache__/land_cover.cpython-39.pyc
gis_udm/__pycache__/utils.cpython-39.pyc
configuration_file.yml
wrappers/__pycache__/__init__.cpython-39.pyc
wrappers/__pycache__/grass_session.cpython-39.pyc
wrappers/__pycache__/qgis_session.cpython-39.pyc
